.slide_tour {
  .banner-popup,
  .banner-popup-3 {
    animation: popupBanner 0.7s linear;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

@keyframes popupBanner {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}
